<div class="tollbar-component">
    <div class="tollbar-option"><i class="fa fa-pencil"></i> <span class="text"> Edit</span></div>
    <div class="tollbar-option"><i class="fa fa-plus"></i> <span class="text">ADD Cdl</span></div>
    <div class="tollbar-option"><i class="fa fa-plus"></i> <span class="text">ADD Medical</span> </div>
    <div class="tollbar-option"><i class="fa fa-plus"></i> <span class="text">ADD Mvr</span> </div>
    <div class="tollbar-option"><i class="fa fa-plus"></i><span class="text">ADD Text</span> </div>
    <div class="tollbar-option"><i class="fa fa-power-off"></i> <span class="text">Deactivate</span> </div>
    <div class="tollbar-option trash"><i class="fa fa-trash"></i> Delete</div>
</div>