.app-component-wrapper {
    padding: 0 5% 20px;
    border-radius: 5px;
    box-shadow: -1px 0px 5px 5px rgba(204,204,204,1);
    width: fit-content;
    margin: auto;
    background-color: rgb(242, 242, 242);
}