<div class="table-head">
    <button *ngIf="openSearchBar==false"
            (click)="toggleSearchBar()"
             class="button-icon">
        <i class="fa fa-search"></i>
    </button>
    <div class="icon__search" *ngIf="openSearchBar==true" >
        <i class="fa fa-search"> </i>

        <input 
               (input)="searchOption($event)"
                placeholder="Find" class="__input"
                 type="text">
                 <i (click)="toggleSearchBar()" class="fa fa-arrow-left rigth"></i>
    </div>



    <div class="div_empty"></div>

    <button class="button-icon"><i class="fa fa-plus plus"></i></button>
</div>
